@use "vars";

@mixin mix-source-color ($rgb) {
	color: $rgb !important;
	border-color: $rgb !important;
	text-decoration-color: $rgb !important;
}

.source {
	$rgb-source-category-site: #e50711;
	$rgb-source-category-extras: #9d4c4f;
	$rgb-source-category-prerelease: vars.$rgb-subclass-ua;
	$rgb-source-category-prerelease--local: #54ce19;
	$rgb-source-category-homebrew: vars.$rgb-class-brew;
	$rgb-source-category-homebrew--local: #4b40ed;

	// region Categories

	&-category- {
		&site {
			@include mix-source-color($rgb-source-category-site);
		}

		&extras {
			@include mix-source-color($rgb-source-category-extras);
		}

		&homebrew {
			@include mix-source-color($rgb-source-category-homebrew);

			&--local {
				@include mix-source-color($rgb-source-category-homebrew--local);
			}
		}

		&spicy {
			@include mix-source-color($rgb-source-category-prerelease);

			&--local {
				@include mix-source-color($rgb-source-category-prerelease--local);
			}
		}
	}

	// endregion
}

.ve-source-marker {
	position: relative;
	font-size: 80%;
	display: inline-block;
	margin-left: 1px;
	align-self: start;

	&--list {
		left: 1px;
		margin-top: 1px;
		margin-left: -20px;
		padding-left: 20px;
		line-height: 8px;
		height: 8px;
		width: 8px;
	}

	&--partnered {
		color: #00c797;
	}

	&--legacy {
		color: vars.$rgb-font--muted;
	}
}
